.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0;
  justify-content: center;
}

.castListItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 185px;
}

.castImage {
  width: 100%;
  height: auto;
}

.castBoxDescr {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  padding: 5px 0;
  overflow: hidden;
}

.castDescription {
  text-align: center;
  margin: 0;
}

.castDescription:last-child,
.castDescription:first-child {
  font-weight: bold;
}
